$header-color: #F2F2F2;
$header-text-size: 1vw;
$header-border:1px solid darkgrey;


.exam-info {
  margin-bottom: 20px;
}

.col-4 {
  text-align: left;
  border: 2px solid #e0e0e0;
  border-radius: 5px;
  background-color: #636;
  color: white;

  padding-top: 7.5px;
  padding-bottom: 7.5px;
}

.col-8 {
  text-align: left;
  border: 2px solid #e0e0e0;
  border-radius: 5px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
}

.type {
  margin-right: 10px;
}

.row {
  margin: 0;
}
