<div class="container border-dark">

  <div class="row md-form justify-content-center" style="padding-top: 20px;">
    <div class="col-5">
      <input maxlength="40" mdbActive id="moduleName" class="form-control-sm" type="text" [(ngModel)]="output.name" mdbInputValidate>
      <label [ngClass]="{'active' : output.name}" for="moduleName" class="">* Module name</label>
    </div>
    <div class="col-5">
      <input maxlength="10" mdbActive id="moduleCode" class="form-control-sm" type="text" style="text-transform: uppercase;" [(ngModel)]="output.code">
      <label [ngClass]="{'active' : output.code}" for="moduleCode">* ProgRESS code</label>
    </div>
  </div>

  <div class="row md-form justify-content-center align-items-center">
    <div class="col-2">
      <div class="card">
        <div class="card-body">
          <p class="card-text text-center">Semester {{output.semesters}}</p>
        </div>
      </div>
    </div>
    <div class="col-2">
      <input onkeyup="if(this.value.length > 2 || this.value > 30) this.value = 30;" mdbActive id="credits" type="number" min="0" max="30" class="form-control-sm" ondrop="return false;" (paste)="false" onkeypress="return event.charCode >= 48 && event.charCode <= 57" [(ngModel)]="output.credits">
      <label [ngClass]="{'active' : output.credits}" for="credits">* Credits (ECTS)</label>
    </div>
    <div class="col-2">
      <input onkeyup="if(this.value.length > 2 || this.value > 20) this.value = 20;" mdbActive id="lecturers-in-week" class="form-control-sm" type="number" min="0" max="5" ondrop="return false;" (paste)="false" onkeypress="return event.charCode >= 48 && event.charCode <= 57"  [(ngModel)]="output.lectures_in_week">
      <label [ngClass]="{'active' : output.lectures_in_week}" for="lecturers-in-week">* Lectures / week</label>
    </div>
    <div class="col-2">
      <input onkeyup="if(this.value.length > 2 || this.value > 40) this.value = 40;" mdbActive id="practical-hours" class="form-control-sm" type="number" min="0" max="50" ondrop="return false;" (paste)="false" onkeypress="return event.charCode >= 48 && event.charCode <= 57" [(ngModel)]="output.practical_hours_week">
      <label [ngClass]="{'active' : output.practical_hours_week || output.practical_hours_week === 0}" for="practical-hours">* Practical hours / week</label>
    </div>
    <div class="col-2">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Total effort</h4>
          <p class="card-text text-center">{{ calculateTotalEffort()}} hours</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-5">
      <table id="lecturers" class="table table-sm table-striped">
        <tr>
          <th colspan="2">* Lecturers</th>
        </tr>
        <tr class="test-lecturers" *ngFor="let lecturer of output?.active_lecturers">
          <td>{{ lecturer.name }}</td>
          <td><button class="btn-outline-danger hoverable" (click)="removeLecturer(lecturer)">X</button></td>
        </tr>
      </table>
    </div>
    <div class="col-5">
      <div class="btn-group" dropdown>
        <button dropdownToggle class="btn btn-sm btn-dark dropdown-toggle" type="button" data-toggle="dropdown">
          {{selectedLecturer.name}}
        </button>
        <ul class="dropdown-menu">
          <li class="dropdown-item" *ngFor="let lect of output.all_lecturers" >
            <a (click)="selectLecturer(lect)">
              {{lect.name}}
            </a>
          </li>
        </ul>
      </div>
      <button type="button" class="btn btn-sm btn-dark" (click)="addLecturer()">Add</button>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-10 md-form">
      <input maxlength="80" mdbActive id="credentials" class="form-control-sm" type="text" [(ngModel)]="output.credentials">
      <label [ngClass]="{'active' : output.credentials}" for="credentials">Credentials</label>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-10 md-form">
      <textarea maxlength="240" mdbActive id="introduction" class="md-textarea" type="text" [(ngModel)]="output.introductorytext"></textarea>
      <label [ngClass]="{'active' : output.introductorytext}" for="introduction">Introduction and motivation</label>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-10 md-form">
      <b> This module is a project:</b> <input style="margin-left:10px;" name="isproject" [(ngModel)]="output.project_flag" type="checkbox"/>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-5">
    <table class="table table-sm table-striped">
      <tr>
        <th colspan="3">* Topics</th>
      </tr>
      <tr class="test-topics" *ngFor="let topic of output.topics">
        <td>{{ topic }}</td>
        <td><button class="btn-outline-danger" (click)="topicUp(topic)">^</button>
          <button class="btn-outline-danger" (click)="topicDown(topic)">v</button></td>
        <td><button class="btn-outline-danger" (click)="removeTopic(topic)">X</button></td>
      </tr>
      </table>
    </div>
    <div class="col-5 md-form form-sm">
      <input maxlength="80" (keyup.enter)="addTopic()" class="form-control" type="text" mdbActive [(ngModel)]="selectedTopic" placeholder="New topic">
      <button type="button" class="btn btn-sm btn-dark" (click)="addTopic()">Add</button>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-5">
      <table class="table table-sm table-striped">
        <tr>
          <th colspan="3">Teaching material</th>
        </tr>
        <tr class="test-teaching-material" *ngFor="let tm of output?.teaching_material">
          <td [textContent]="tm.name" (input)="tm.name=$event.target.textContent">{{ tm.name }}</td>
          <td>
            <button class="btn-outline-danger btn-move" (click)="teachingMaterialUp(tm)">
              <i class="fa fa-chevron-up"></i>
            </button>
            <button class="btn-outline-danger btn-move" (click)="teachingMaterialDown(tm)">
              <i class="fa fa-chevron-down"></i>
            </button>
          </td>
          <td>
            <button class="btn-outline-danger" (click)="removeTeachingMaterial(tm.name)">X</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-5 md-form form-sm">
      <input maxlength="80" mdbActive (keyup.enter)="addTeachingMaterials()" type="text" class="form-control" [(ngModel)]="selectedTeachingMaterial" placeholder="New teaching material">
      <div class="btn-group" dropdown>
        <button dropdownToggle class="btn btn-sm btn-dark dropdown-toggle" type="button" data-toggle="dropdown">
          {{selectedTeachingMaterialType}}
        </button>
        <ul class="dropdown-menu">
          <li class="dropdown-item" *ngFor="let type of output.teaching_material_types" >
            <a (click)="selectTeachingMaterialType(type)">
              {{type}}
            </a>
          </li>
        </ul>
      </div>
      <button type="button" class="btn btn-sm btn-dark" (click)="addTeachingMaterials()">Add</button>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-10 md-form form-sm">
      <textarea maxlength="240" mdbActive id="additionalInformation" class="md-textarea" type="text" [(ngModel)]="output.additional_information"></textarea>
      <label [ngClass]="{'active' : output.additional_information}" for="additionalInformation">Additional information</label>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-10 md-form form-sm">
      <table class="table table-sm table-striped">
        <tr>
          <th colspan="4">Prior knowledge references</th>
        </tr>
        <tr>
          <th>Module name</th>
          <th>Reference type</th>
          <th>Remark</th>
        </tr>
        <tr *ngFor="let pkr of output.prior_knowledge_references">
          <td contenteditable="true" [textContent]="pkr.name" (input)="tm.name=$event.target.textContent">{{ pkr.name }}</td>
          <td contenteditable="true" [textContent]="pkr.type" (input)="tm.name=$event.target.textContent">{{ pkr.type }}</td>
          <td contenteditable="true" [textContent]="pkr.remarks" (input)="tm.name=$event.target.textContent">{{ pkr.remarks }}</td>
          <td><button class="btn-outline-danger" (click)="removePriorReference(pkr.name)">X</button></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-10 form-sm">
      <input mdbActive (keyup.enter)="addPriorReference()" type="text" class="form-control" [(ngModel)]="selectedPriorKnowledgeRemark" placeholder="(Optional) Remark about prior knowledge">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="md-form form-sm">
      <div class="btn-group" dropdown>
        <button dropdownToggle class="a btn btn-sm btn-dark dropdown-toggle" type="button" data-toggle="dropdown">
          {{selectedPriorModule}}
        </button>
        <ul class="dropdown-menu">
          <li class="dropdown-item" *ngFor="let module of output.modules" >
            <a (click)="selectPriorKnowledgeModule(module.name)">
              {{module.name}}
            </a>
          </li>
        </ul>
      </div>
      <div class="btn-group" dropdown>
        <button dropdownToggle class="btn btn-sm btn-dark dropdown-toggle" type="button" data-toggle="dropdown">
          {{selectedpriorKnowledgeType}}
        </button>
        <ul class="dropdown-menu">
          <li class="dropdown-item" *ngFor="let type of priorKnowledgeTypes" >
            <a (click)="selectPriorKnowledgeType(type)">
              {{type}}
            </a>
          </li>
        </ul>
        <button type="button" class="btn btn-sm btn-dark" (click)="addPriorReference()">Add</button>
      </div>
    </div>
  </div>


  <div class="row justify-content-center" style="padding-bottom: 40px">
    <div class="col-2">
      <button type="button" [disabled]="!canSave()" class="btn btn-dark" (click)="save()">Save</button>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-danger" (click)="back()">Cancel</button>
    </div>
  </div>



</div>
