<div class="row">
  <div class="col-md-4">
    <h2 class="list-group item-heading">Semester</h2>
  </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4">
          <a href="#" class="list-group-item clearfix">
            <h4 class="list-group item-heading">CSA1</h4>
          </a>
        </div>
        <div class="col-md-4">
          <a href="#" class="list-group-item clearfix">
            <h4 class="list-group item-heading">CSA1</h4>
          </a>
        </div>
        <div class="col-md-4">
          <a href="#" class="list-group-item clearfix">
            <h4 class="list-group item-heading">CSA1</h4>
          </a>
        </div>
        <div class="col-md-4">
          <a href="#" class="list-group-item clearfix">
            <h4 class="list-group item-heading">CSA1</h4>
          </a>
        </div>
        <div class="col-md-4">
          <a href="#" class="list-group-item clearfix">
            <h4 class="list-group item-heading">CSA1</h4>
          </a>
        </div>
        <div class="col-md-4">
          <a href="#" class="list-group-item clearfix">
            <h4 class="list-group item-heading">CSA1</h4>
          </a>
        </div>
        <div class="col-md-4">
          <a href="#" class="list-group-item clearfix">
            <h4 class="list-group item-heading">CSA1</h4>
          </a>
        </div>
        <div class="col-md-4">
          <a href="#" class="list-group-item clearfix">
            <h4 class="list-group item-heading">CSA1</h4>
          </a>
        </div>
      </div>
    </div>
</div>

