<div class="container">

  <div class="row justify-content-end" *ngIf="app.isLoggedIn">
    <div class="col-2">
      <button class="btn btn-primary" [routerLink]="['/modifymodule', selectedModule]">Edit</button>
    </div>
  </div>

  <div class="row">
    <div class="col-2 colHeader">
      <p class="big">Module:</p>
    </div>
    <div class="col-10 colContent module-name">
      <p>{{ moduleContent?.name }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-2 colHeader">
      <p class="big">Semester</p>
    </div>
    <div class="col-2 colContent">
      <p>{{ moduleContent?.semester }}</p>
    </div>
    <div class="col-4 colHeader">
      <p class="big">Credits (ECTS)</p>
    </div>
    <div class="col-4 colContent">
      <p>{{ moduleContent?.credits }}</p>
    </div>
  </div>

  <div class="row" *ngIf="moduleContent?.lectures_in_week || moduleContent?.practical_hours_week || moduleContent?.total_effort > 0">
    <div class="col-2 colHeader">
      <p class="big">Lectures / week</p>
    </div>
    <div class="col-2 colContent">
      <p>{{ moduleContent?.lectures_in_week }}</p>
    </div>
    <div class="col-2 colHeader">
      <p class="big">Practical hours / week</p>
    </div>
    <div class="col-2 colContent">
      <p>{{ moduleContent?.practical_hours_week }}</p>
    </div>
    <div class="col-2 colHeader">
      <p class="big">Total effort</p>
    </div>
    <div class="col-2 colContent">
      <p>{{ moduleContent?.total_effort}} hours</p>
    </div>
  </div>

  <div class="row" *ngIf="moduleContent?.lecturers?.length > 0">
    <div class="col-2 colHeader">
      <p class="big">Lecturers</p>
    </div>
    <div class="col-10 colContent">
      <p>{{ moduleContent?.lecturers?.join(', ') }}</p>
    </div>
  </div>

  <div class="row" *ngIf="moduleContent?.credentials?.length > 0">
    <div class="col-2 colHeader">
      <p class="big">Credentials</p>
    </div>
    <div class="col-10 colContent">
      <p>{{ moduleContent?.credentials }}</p>
    </div>
  </div>

  <div class="row" *ngIf="moduleContent?.introductorytext?.length > 0">
    <div class="col-12 colHeader">
      <p class="big">Introduction and motivation</p>
    </div>
  </div>
  <div class="row" *ngIf="moduleContent?.introductorytext?.length > 0">
    <div class="col-12 colContent">
      <p class="multi-line">{{ moduleContent?.introductorytext }}</p>
    </div>
  </div>

  <div class="row" *ngIf="personalGoals?.length > 0">
    <div class="col-12 colHeader">
      <p class="big">The student is able to</p>
    </div>
    <!--
    <div class="col-1 colHeader justify-content-center">
      <p class="big">Weight:</p>
    </div>
    -->
  </div>

  <div *ngFor="let learninggoal of personalGoals">
    <div class="row personal-goal">
      <div class="col-1 colHeader hoverable" (click)="onSelect(learninggoal)">
        <p class="big">{{ learninggoal.name }}</p>
      </div>
      <div class="col-11 colContent">
        <p>{{ learninggoal.description }}</p>
      </div>
      <!--
      <div class="col-1 colContent justify-content-center">
        <p>{{ learninggoal.weight | percent }}</p>
      </div>
      -->
    </div>
    <div class="row">
      <div class="col-12 learninggoal">
        <app-skill-matrix [hidden]="!learninggoal.expanded" [architecturallayers]="moduleContent?.architectural_layers" [lifecycleactivities]="moduleContent?.lifecycle_activities" [studentskills]="learninggoal.skillmatrix"></app-skill-matrix>
        <app-exam-lg [hidden]="!learninggoal.expanded" [lg]="learninggoal"></app-exam-lg>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="groupGoals?.length > 0">
    <div class="col-12 colHeader">
      <p class="big">The group is able to</p>
    </div>
    <!--
    <div class="col-1 colHeader justify-content-center">
      <p class="big">Weight:</p>
    </div>
    -->
  </div>

  <div *ngFor="let learninggoal of groupGoals">
    <div class="row group-goal">
      <div class="col-1 colHeader hoverable" (click)="onSelect(learninggoal)">
        <p class="big">{{ learninggoal.name }}</p>
      </div>
      <div class="col-11 colContent">
        <p>{{ learninggoal.description }}</p>
      </div>
      <!--
      <div class="col-1 colContent justify-content-center">
        <p>{{ learninggoal.weight | percent }}</p>
      </div>-->
    </div>
    <div class="row">
      <div class="col-12 learninggoal">
        <app-skill-matrix [hidden]="!learninggoal.expanded" [architecturallayers]="moduleContent?.architectural_layers" [lifecycleactivities]="moduleContent?.lifecycle_activities" [studentskills]="learninggoal.skillmatrix"></app-skill-matrix>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 colHeader">
      <p class="big">Qualifications after module</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 learninggoal">
      <app-skill-matrix [architecturallayers]="moduleContent?.architectural_layers" [lifecycleactivities]="moduleContent?.lifecycle_activities" [studentskills]="moduleContent?.qualifications"></app-skill-matrix>
    </div>
  </div>

  <div class="row">
    <div class="col-12 colHeader">
      <p class="big">Exam information</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 learninggoal">
      <table class="table table-bordered table-sm table-striped assesmentPart">
        <tr>
          <th>Progresscode</th>
          <th>Description</th>
          <th>Percentage</th>
          <th>Minimal grade</th>
          <th *ngIf="numberRemarks > 0">Remarks</th>
        </tr>
        <tr class="assessmentInformation" *ngFor="let examinfo of moduleContent?.assesment_parts">
          <td>{{examinfo.subcode}}</td>
          <td>{{examinfo.description}}</td>
          <td>{{examinfo.percentage | percent}}</td>
          <td>{{examinfo.minimal_grade}}</td>
          <td *ngIf="numberRemarks > 0">{{examinfo.remark}}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row" *ngIf="moduleContent?.topics?.length > 0">
    <div class="col-12 colHeader">
      <p class="big">Topics</p>
    </div>
  </div>
  <div class="row" *ngIf="moduleContent?.topics?.length > 0">
    <div class="col-12 colContent" *ngFor="let topic of moduleContent.topics">
      <p>- {{ topic }}</p>
    </div>
  </div>

  <div class="row" *ngIf="moduleContent?.teaching_material?.length > 0">
    <div class="col-12 colHeader">
      <p class="big">Teaching Material</p>
    </div>
  </div>
  <div class="row" *ngIf="moduleContent?.teaching_material?.length > 0">
    <div class="col-12 colContent">
      <p *ngFor="let material of moduleContent.teaching_material">- {{material}}</p>
    </div>
  </div>

  <div class="row" *ngIf="moduleContent?.prior_knowledge_references?.length > 0">
    <div class="col-12 colHeader">
      <p class="big">Prior Knowledge</p>
    </div>
  </div>
  <div class="row" *ngIf="moduleContent?.prior_knowledge_references?.length > 0">
    <div class="col-4 colContent prior-module" *ngFor="let prioKnowledgeReference of moduleContent.prior_knowledge_references">
      <a [routerLink]="['/curriculum', moduleCurriculum, 'modules', prioKnowledgeReference.code]">
        <span class="prior-code">
          {{prioKnowledgeReference.code}}
        </span>
        <span class="prior-type">
          {{prioKnowledgeReference.type}}
        </span>
        <span class="prior-remark" *ngIf="prioKnowledgeReference.remarks?.length > 0">
          {{prioKnowledgeReference.remarks}}
        </span>
      </a>
    </div>
  </div>

  <div class="row" *ngIf="moduleContent?.additional_information?.length > 0">
    <div class="col-12 colHeader">
      <p class="big">Additional information (on grading, assessments, retakes, pracical parts, ...)</p>
    </div>
  </div>
  <div class="row" *ngIf="moduleContent?.additional_information?.length > 0">
    <div class="col-12 colContent">
      <p>{{ moduleContent?.additional_information }}</p>
    </div>
  </div>

</div>
