.filter{
  display: flex;
}

$fontys: #636;

.head {
  background-color: $fontys;
  color:white;
}

$border: 1px solid black;
table{
  border: $border;
  td{
    border: $border;
  }
  th{
    border: $border;
  }
}
