<table class="table table-bordered table-sm table-striped" *ngIf="studentskills?.length > 0">
  <thead class="thead-light">
    <tr>
      <th scope="col"></th>
      <th scope="col" *ngFor="let lca of lifecycleactivities">{{lca.name}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let al of architecturallayers; let i = index" [attr.data-index]="i">
      <td scope="row">
        {{al.name}}
      </td>
      <td class="skillevel" *ngFor="let lca of lifecycleactivities; let j = index" [attr.data-index]="i">
        {{checkForValue(i,j)}}
      </td>
    </tr>
  </tbody>
</table>
