.colContent {
  text-align: left;
  border: 2px solid #e0e0e0;
  border-radius: 5px;
  background-color: #fafafa;
  vertical-align: middle;
}

.colHeader .big {
  font-weight: 400;
}

.colHeader {
  text-align: left;
  border: 2px solid #e0e0e0;
  border-radius: 5px;
  background-color: grey;
  vertical-align: middle;
}




